
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url(bgimg.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    /* width: 100vw; */
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 95, 141);
    height: 9vh;
    padding: 0 2vw;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 8vh;
    margin-right: 10px;
  }

  .weather-info {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2vh 2vw;
    width: 40vw;
    margin: 2vh auto;
    border-radius: 1vh;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,200,255,0.5);
    font-size: 2.5vh;
  }

  
  
  
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2vw;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
    padding: 0.5vh 1vw;
    border-radius: 0.5vh;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: rgb(3, 34, 114);
  }
  
  .searchheading {
    text-align: center;
    margin-right: 3vw;
    margin-top: 40vh;
    color: white;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgb(0, 200, 255);
  }
  
  .input {
    display: block;
    margin: 2vh auto;
    width: 35vw;
    height: 10vh;
    text-align: center;
    border: 2px solid rgb(16, 95, 200);
    border-radius: 3vh;
    background-color: rgb(16, 95, 141);
    font-weight: bold;
    font-size: 3vh;
    color: white;
  }
  
